# -----------------------
# Python
# -----------------------
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/

# Environment variables
.env

# Database
*.db

# Flask instance
instance/

# -----------------------
# React
# -----------------------
frontend/node_modules/
frontend/dist/

# Logs
*.log

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db